html, body {
  height: 100%;
  width: 100%;
}
/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* HELEVETICA */
body {
 font-family: "helvetica";

}

/* Define the custom cursor when hovering over the body */

a {
 text-decoration: none;
}
li {
 list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
 color: #fff;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 24px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: black;
 border-radius: 4px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
background-color: rgba(255, 255, 255, 0.64);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 bottom: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: black;
}
.services:hover .dropdown {
 display: block;
background-color: rgba(255, 255, 255, 0.64);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;margin-bottom: 20px;
 background-color: rgb(0 0 0 / 57%);
  border-radius: 16px;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;

}
.menu li:hover {
 display: inline-block;
 background-color: #000000;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: black;
}
}
  video {
  height: auto;
  width: 90%;
}


/*.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/

body {
    margin:0;
    padding:0;
}

#container{
    height:100vh;
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    background:#0000cc;
    z-index:467;
    position:absolute;
    top:0;
    left:0;
}
#mypage{
    height:100vh;
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    background:#000066;   
}


  

@keyframes rotation{
    100%{transform:rotateZ(360deg);}
}
#s1{
     height:100px;
     width:100px;
     border:2px solid #ffffff;
     border-top:2px solid #000066;
     transform-origin:center;
     box-sizing:border-box ;
     padding:5px;
     border-radius:50%;
     animation:rotation 1s linear
     infinite;
}
h1 {
  color:white
}
h2 {
  color:white
}
p {
  color:white
}
h3 {
  color:white
}
      
      
.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

body {
  background: rgb(0,163,196);
  background: linear-gradient(90deg, rgba(0,163,196,1) 0%, rgba(107,0,119,1) 73%);
}
.menu-bar {
  background-color: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: hidden;
  position: fixed;
 bottom:0
}

.menu-bar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-bar a.right {
  float: right;
}

.menu-bar a:hover {
  background-color: #0000cc;
  color: white;
}
il {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
p {
 
  padding-bottom: 20px;
}